img{width: 200px;height: 300px; }

.container .cardscontainer{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container{
    display: flex;
    margin:20px auto;
}

.btn{
    background-color: rgb(125, 125, 255);
    color: white;
    display: flex;
    border-radius: 5px;
  max-width: 100px;
  width: 100%;
      align-items: center;
    justify-content: center;
    margin: 10px;
   
}
.btn a{
    
}
.filtercontainer{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    text-shadow: 1px 1px 3px #006;
    
}